/* src/assets/tailwind.css */
@import 'tailwindcss';

body{
  font-family: "Wix Madefor Text", sans-serif;
}

/* Background  */
.bg-primary{
  background-color: #0f0f0f;
}
.bg-primary-dark{
  background-color: #F2F4F6;
}
.bg-secondary{
  background-color: #2E4C73;
}
.bg-secondary-dark{
  background-color: #ADB9C852;
}
.bg-icon-dark{
  background-color: #222B36;
}
.bg-icon-light{
  background-color: #002454;
}
.bg-white{
  background-color: #fff;
}
.bg-black{
  background-color: #000;
}


/* Texts  */
.text-primary{
  color: #ffffff;
}
.text-primary-dark{
  color: #000000;
}

.text-secondary{
  color: #6E829E;
}
.text-secondary-faded{
  color: #FFEAD4;
}
.text-muted{
  color: #ADB9C8;
}
.text-heading{
  color: #2E4C73;
}
.icon-color{
  color: #BCBABA;
}


/* Borders  */
.border-Primary{
  border: 2px solid #191F27;
}
.border-Primary-dark{
  border: 2px solid #D3DAE2;
 
}
.border-Secondary{
  border: 1.3px solid #2E4C73; 
}
.border-Secondary-light{
  border: 1.3px solid #2E4C7326; 
}
.border-SecondaryOne {
  border: 1.3px solid #ADB9C880;
}

.transition-hover {
  @apply transition-colors duration-300;
  cursor: pointer;
}

.cardhover {
  transition: all 0.3s ease;
  z-index: 1;
  position: relative;
}

.cardhover:hover {
  transform: translateY(-10px) scale(1.05); /* Move up and enlarge */
  z-index: 10; /* Bring it above other cards */
}